#viewport {
    position: absolute;
    overflow: hidden;
    height: 95vh;
    width: 95vw;
}

#canvas-map {
    position: relative;
    background-image: url('assets/images/background/grass-water.jpg');
    background-size: 5000px;
}

#spritesheets {
    position: absolute;
    display: none;
}