.game-div {
    display: flex;
}

#viewport {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 900px;
    width: 1250px;
}

#canvas-map {
    position: relative;
    background-image: url('assets/images/background/grass-water.jpg');
    background-size: 5000px;
}

#spritesheets {
    position: absolute;
    display: none;
}

#custom-gif-input {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    background: url('assets/images/gba.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}