.game-div {
    display: flex;
}

#viewport {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 69vh;
    width: 55vw;
    margin-bottom: 140px;
}

#canvas-map {
    position: relative;
    background-image: url('assets/images/background/grass-water.jpg');
    background-size: 5000px;
}

#spritesheets {
    position: absolute;
    display: none;
}

#custom-gif-input {
    /* position: relative; */
    margin: 0 auto;
    margin-top: 86vh;
    color:white;
    text-shadow: -2px 0  #396BBA, 0 2px  #396BBA, 2px 0  #396BBA, 0 -2px  #396BBA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
}

input {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#game-title {
    position: absolute;
    height: 15vh;
    left: 35vw;
}

body {
    background: url('assets/images/gba.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}